body{
font-family: monospace, monospace, monospace

}
p{
    padding: 10px;
}
h1{
    padding-left: 10px;
}
div{
    display: inline-block;
    margin-right: 20px;
    background-color: dimgray;
}
img{
    border-style: dotted;
    border-width: 2px;
}
#templateHolder{
    visibility: hidden;
}
